/*Fonts*/

/*Common styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  -o-transition: 1s;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/*Main styles*/
.radioinput {
  width: 0;
  height: 0;
  visibility: hidden;
  order: 5;
}
.wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__container {
  max-width: 80%;
  width: 33.99em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2%;
  padding: 1.5em;
  gap: 1.5em;
  border: 3px solid paleturquoise;
}
.slider__container {
  /* width: 100%; */
  overflow: hidden;
}
.image__container {
  max-height: 750px;
  height: 30.62em;
  width: calc(100% * 5);
  max-width: 1200px;
  display: flex;
}
.slider__img {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
}
/*controls and description styles*/
.service__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;
}
.decription__container {
  width: 50%;
  overflow: hidden;
}
.descriptions {
  width: calc(100% * 5);
}
.mems__description {
  width: calc(100 * 5);
}
.slider__nav-container {
  display: flex;
  align-items: center;
}
.radiobtn {
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.pointer {
  height: 30%;
  width: 30%;
  display: block;
  align-items: center;
  border-radius: 50%;
  border: 2px solid palevioletred;
  background: rosybrown;
  cursor: pointer;
}

#mem1:checked ~ .main__container .slider__container .image__container {
  margin-left: 0;
}
#mem2:checked ~ .main__container .slider__container .image__container {
  margin-left: -100%;
}
#mem3:checked ~ .main__container .slider__container .image__container {
  margin-left: -200%;
}
#mem4:checked ~ .main__container .slider__container .image__container {
  margin-left: -300%;
}
#mem5:checked ~ .main__container .slider__container .image__container {
  margin-left: -400%;
}
